<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>I'm a first year student at <a class="underline-link" href="https://www.cuchd.in" target="_blank">Chandigarh University</a> in Punjab studying <strong>Mater of Computer Applications in Artificial Intelligence and Machine Learning</strong> Specialization. I have experience in working with <strong>Android Open Source Project</strong>, graphic and UI/UX designing. I strive to create <strong>AI & ML</strong> models, and designs, with pixel-perfect user experiences.</p>

    <p>I love learning new and better ways to create robust <strong>AI & ML</strong> models because it allows me to combine the logical parts of my brain with my clean, efficient, and scalable code. I consider work an ongoing education, and I'm always looking for opportunities to work with those who are willing to share their knowledge as much as I want to learn. At the end of the day, my primary goal is to create something beautiful with people that bring out the best in me.</p>
    
    <p><strong>When I'm not in front of my Mac</strong>, you can probably find me reading books, or traveling to a new place on my bucket list!</p>
  </div>
</section>
