<section id="background" class="section">
  <div class="title">Background</div>
  <div class="content">
    <p>I'm a first year student at Chandigarh University in Punjab studying Mater of computer applications in Artificial Intelligence and Machine Learning Specialization. I have experience in working with Android Open source project, graphic and UI/UX designing. I strive to create AI & ML models, and designs, with pixel-perfect user experiences.</p>
    <p>I love learning new and better ways to create robust AI & ML models with clean, efficient, and scalable code. I consider work an ongoing education, and I'm always looking for opportunities to work with those who are willing to share their knowledge as much as I want to learn. At the end of the day, my primary goal is to create something beautiful with people that bring out the best in me.</p>
    <p>When I'm not in front of a computer screen, I'm probably travelling, exploring, reading books, or cruising around on my penny board.</p>
  </div>
</section>
