<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project">
      <figure class="project__pic">
        <img src="../img/featured/student_problem.png" alt="">
      </figure>
      <figcaption class="project__caption">
        <div class="project__name"><a href="https://www.behance.net/gallery/125303783/Problems-of-a-21st-Century-Student">Problems of a 21st Century student</a></div>
        <p>This is about the problems students facing nowadays. Examarly is combating the stress and messiness faced by test aspirants through a digital platform dedicated to design a planned journey for your progress Unlike what they say, planning is the key to success.</p>
      </figcaption>
    </div>
  </div>
</section>
