<section class="section featured-projects">
  <div class="section__title">Design Portfolio</div>
  <div class="section__content">
    <div class="project">
      <figure class="project__pic">
        <img src="../img/featured/student_problem.png" width="150" height="150" alt="">
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.behance.net/gallery/125303783/Problems-of-a-21st-Century-Student" target="_blank">Problems of a 21st Century student</a>
        </div>
        <p>This is about the problems students facing nowadays. Examarly is combating the stress and messiness faced by test aspirants through a digital platform. Unlike what they say, planning is the key to success.</p>
      </figcaption>
    </div>

    <div class="project">
      <figure class="project__pic">
        <img src="../img/featured/entrance_exam.png" width="150" height="150" alt="">
      </figure>
      <figcaption class="project__caption">
        <div class="project__name"><a href="https://www.behance.net/gallery/125309349/Why-do-Most-students-fail-to-crack-entrance-exams" target="_blank">Why do Most students fail to crack entrance exams?</a></div>
        <p>We are in an age where information is overloaded to us. This overload is extremely stressful if studies are not planned properly. Examarly is a platform that helps students plan their studies well.</p>
      </figcaption>
    </div>

    <div class="project">
      <figure class="project__pic">
        <img src="../img/featured/house_party.png" width="150" height="150" alt="">
      </figure>
      <figcaption class="project__caption">
        <div class="project__name"><a href="https://www.behance.net/gallery/125309807/After-a-long-time-Imagine-throwing-a-House-Party" target="_blank">After a long time Imagine throwing a House Party</a></div>
        <p>What completes a house party? MUSIC! And a bad source of music is always an embarrassment for the host. To save you from this embarrassment we have Deciwood. Deciwood helps you with divine high quality speakers that are made in India, made for India.</p>
      </figcaption>
    </div>

    <div class="project">
      <figure class="project__pic">
        <img src="../img/featured/kitty.png" width="150" height="150" alt="">
      </figure>
      <figcaption class="project__caption">
        <div class="project__name"><a href="https://www.behance.net/gallery/125310091/What-completes-a-house-party" target="_blank">What completes a house party?</a></div>
        <p>With its natively made devices and cutting edge technology, Deciwood is not sleeping on the massive potential of the bluetooth market</p>
      </figcaption>
    </div>
  </div>
</section>
