<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project">
      <figure class="project__pic">
        <img src="../img/featured/placeholder1.png" alt="">
      </figure>
      <figcaption class="project__caption">
        <div class="project__name"><a href="#">Sign Language to Text</a></div>
        <p>This was my first project I built in 2018. It's a simple project to analyse video feed of hands in sign language and convert to text. Since then, I think, I can learn a lot in AI & ML.</p>
      </figcaption>
    </div>
  </div>
</section>
